(
    id: "jump_neutral",
    tags: [
        "air",
        "jump",
    ],
    geometry: [
        Box((
            min: (-2000.0, -100.0, -2000.0),
            max: (2000.0, 0.0, 2000.0),
            kind: 0,
        )),
    ],
    start: (
        pos: (0, 0, 0),
        yaw_deg: 0.0,
        action: "Idle",
    ),
    camera: Fixed(
        yaw_deg: 0.0,
    ),
    inputs: [
        Press(
            stick: (0, 0),
            buttons: 1,
        ),
        Hold(
            frames: 50,
            stick: (0, 0),
            buttons: 0,
        ),
    ],
    compare: AirDefault,
)
